.message{data: {message_id: message.id}}
  .message__upper-info
    .message__upper-info__talker
      = message.user.name
    .message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__text
    - if message.body.present?
      %p.lower-messge__content
        = message.body
    - if message.image.present?
      = image_tag message.image.url